/* Hoja de estilos de HTML */

/* Para que se adapte al formato de la ventana*/

* {
  box-sizing: border-box;
}

/* Definimos los formatos de texto por defecto para todo el documento */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Ajustamos margenes y padding del título principal*/
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 1px;  /*define el mismo padding en todo el contorno */
}


/* Agregamos interlineado y justificación a los párrafos*/
p {
  line-height: 1.5;
  text-align:justify;
}

/* Defino el estilo del header */
header {
  /* Aqui tomamos una tipografia de https://fonts.google.com */
  font-family: 'Rubik Gemstones', cursive;
  font-family: 'Unbounded', cursive;
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
  float: inline-start;
}

/* Defino el estilo para la clase mail del header principal */
.main {
  /* Aqui tomamos una tipografia de https://fonts.google.com */
  font-family: 'Rubik Gemstones', cursive;
  font-family: 'Unbounded', cursive;
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: white;
  float: inline-start;
}


/* Estilo del footer */
footer {
  background-color: #777;
  padding: 10px;
  /*display: flex;*/
  float: inline-end;
  /*align-items: center;*/
  line-height: 40px;
  text-align: center;
  text-decoration-line: underline;
  color: white;
  height: 650px;
}

/* Defino las propiedades de los elementos clase 'menu_izquierdo' */
.menu_izquierdo {
  background-color: #cdd1d4;
  padding: 20px;
  float: left;
  width: 15%; /* Ancho de 15%, por defecto */
  height: 600px;
}

/* Defino las propiedades de los elementos clase 'central' */
.central {
  background-color: #dfd7d7;
  padding: 20px;
  float: left;
  width: 70%; /* Ancho de 70%, por defecto */
  height: 600px;
}

/* Defino las propiedades de los elementos clase 'central_child' */
.central_child {
  background-color: #dfd7d7;
  padding: 20px;
  float: left;
  width: 100%; /* Ancho de 100%, por defecto */
  height: 600px;
}

/* Defino las propiedades de los elementos clase 'derecho' */
.derecho {
  background-color: #e4d895;
  padding: 20px;
  float: left;
  width: 15%; /* Ancho de 15%, por defecto */
  height: 600px;
}

.subtitulo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* Determino la resolución de la pantalla */
@media screen and (max-width: 800px) {
  .izquierdo, .central, .derecho {
    width: 100%; /* El ancho será 100%, cuando viewport es 800px o menor */
  }
}

.btn-group .button_menu {
  background-color: #b4e2f0;
  border: 2px solid rgb(138, 145, 146);
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 230px;
  display: block;
}

.button_info {
  background-color: #f1e7a9; 
  border: 2px solid rgb(138, 145, 146);
  color: #000000;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  width: 200px;
  display: block;
}

.input_user {
  background-color: #f1e7a9; 
  border: 2px solid rgb(138, 145, 146);
  color: #000000;
  padding: 5px 12px;
  text-align: left;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  width: 200px;
  display: block;
}


/*
footer::after {
  content: "";
  display: block;
  clear: both;
}
*/
